* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header {
    position: fixed;
    width: 100%;
    z-index: 3;
} */

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    /* opacity: 0.7; */
    color: #deb887;
}

.nav-list a:hover {
    /* text-transform:uppercase; */
    /* border-bottom: #ffffff 3px solid; */
    /* padding-bottom: 2.5vh; */
    transition: 100ms;
    /* color: #c879ec; */
}

.nav-list a:focus {
    color: burlywood;
    border-bottom: #ffffff 3px solid;
    padding-bottom: 2.5vh;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    height: 8vh;
    background: #333333;
    /* background: #c97575; */
}

main {
    background: #003366 no-repeat center center;
    background-size: cover;
    height: 100%;

}

/* .carousel-box {
    margin-top: 3rem;
} */
.nav-list {
    list-style: none;
    display: flex;
    margin-bottom: 0rem;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.carousel-item img {
    max-height: 75vh;
    object-fit: cover;
  }

/* .about-box {
    display: flex;
} */

.linha0 {
    width: 100%;
    height: 2px;
    background: #DEB887;;
    /* z-index: 10; */
}

.linha {
    width: 100%;
    height: 2px;
    background: #DEB887;;
}

.about-info {
    display: flex;
    margin: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.info {
    padding: 1rem;
    border-right: 2px solid #deb88700;
    border-left: 2px solid #deb88700;
}

.info h2 {
    font-size: 1.5rem;
}

.info2 {
    padding: 1rem;
    border-right: 2px solid #DEB887;
    border-left: 2px solid #DEB887;
}

.info2 h2 {
    font-size: 1.5rem;
}

@media (max-width: 780px) {
    body{
        overflow-x: hidden;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 6;
        top: 0;
        left: 0;
    }

    .linha0 {
        margin-top: 8vh;
        width: 100%;
        height: 2px;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100vh;
        padding-left: 0;
        padding-right: 0px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-items: center;
        background: #333333;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 3;
    }
    
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
    }

    .info2 {
        padding: 1rem;
        border: none;
        border-top: 2px solid #DEB887;
        border-bottom: 2px solid #DEB887;;
    }
    
}
    .nav-list.active {
        transform: translateX(0);
    }

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

